<div class="new-form-container">
  <h3> Post my Terrace</h3>

  <div class="sub-title">Share details about your terrace</div>
  <%= form_for @terrace, html: {id: 'terrace-from'} do |f| %>
      <div class="default-input-container">
        <%= f.fields_for :owner do |o| %>
            <p class="label"> Name </p>

            <div class="left-icon-addon">
              <span class="name-icon"></span>
              <%= o.text_field :name %>
            </div>
        <%- end %>
      </div>

      <div class="default-input-container">
        <p class="label"> Location </p>

        <div class="select-container">
          <span class="location_icon"></span>
          <%= f.select 'location', [['location 1'], ['location 2']] %>

        </div>
      </div>

      <div class="default-input-container">
        <p class="label">Area </p>

        <div class="left-icon-addon" id="area-container">
          <span class="area-icon"></span>
          <%= f.text_field :area %>
          <div id="sq-feet">sq feet</div>
        </div>
      </div>

      <div class="default-input-container">
        <p class="label">Capacity </p>

        <div class="select-container">
          <span class="persons_icon"></span>
          <%= f.select 'capacity', [['0 to 10 persons', 10], ['11 to 20 persons', 20], ['21 to 30 persons', 30]] %>
        </div>
      </div>

      <%= f.fields_for :owner do |o| %>
          <div class="default-input-container">
            <p class="label">Contact </p>

            <div class="left-icon-addon">
              <span class="contact-icon"></span>
              <%= o.text_field :phone %>
            </div>
          </div>

          <div class="default-input-container">
            <p class="label">Email </p>

            <div class="left-icon-addon">
              <span class="email-icon"></span>
              <%= o.text_field :email %>
            </div>
          </div>
      <%- end %>


      <div class="default-input-container">
        <p class="label">Rent </p>

        <div class="left-icon-addon">
          <span class="rupees-icon"></span>
          <%= f.text_field :rent %>
        </div>
      </div>

      <div class="default-input-container">
        <%= f.fields_for :availabilities do |a| %>
            <%= a.hidden_field :date %>
        <%- end %>
      </div>
      <div class="default-input-container">
        <%= f.submit 'Submit', {:class => 'default-btn', :id => 'terrace-submit-btn'} %>
      </div>
  <%- end %>
</div>