<%= form_for @terrace do |f| %>

    <%= f.fields_for :owner do |o| %>
        Name : <%= o.text_field :name %>
    <%- end %>

    <div>
      Location: <%= f.select 'location', [['location 1'], ['location 2']]%>
    </div>

    <div>
      Area: <%= f.text_field :area %>
    </div>

    <div>
      Capacity: <%= f.select 'capacity', [['0 to 10 persons', 10], ['11 to 20 persons', 20], ['21 to 30 persons', 30]] %>
    </div>

    <div>
      <%= f.fields_for :owner do |o| %>
          Contact: <%= o.text_field :phone %>
          Email: <%= o.text_field :email %>
      <%- end %>
    </div>

    <div>
      Rent: <%= f.text_field :rent %>
    </div>

    <div>
      <%= f.fields_for :availabilities do |a| %>
          <%= a.hidden_field :date%>
      <%- end %>
    </div>

    <%= f.submit %>

<%- end %>