<!DOCTYPE html>
<html>
<head>
  <title>MyTerrace</title>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:700' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class= <%= "#{controller_name}" %>>
<div class="container">
  <% if (action_name!='upcoming') %>
      <div class="main-header">
        <div class="social-media-container">
          <%= link_to image_tag(image_url('facebook_icon.png')), '#', {:class => 'media-btn'} %>
          <%= link_to image_tag(image_url('twitter_icon.png')), '#', {:class => 'media-btn'} %>
        </div>
      </div>
      <div class="main-content">
        <div class="col-main">
          <%= yield %>
        </div>
        <div class="col-right">
        </div>
      </div>
      <div class="main-footer">
      </div>
  <% else %>
      <div class="upcoming-container">
        <%= yield %>
      </div>
  <% end %>
</div>
</body>
</html>
